**Name: Prerna Pathak**                   

**Reg. No.: 21BCE7506**

**Task 1: Create a Pandas datframe(DataFrame name as 'df') with numpy random values(4 features and 4 observations)**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
test_score=np.random.randint(0,100,(4,4))
df=pd.DataFrame(test_score,columns=['DSA','DBMS','AI','ML'])
print(df)

   DSA  DBMS  AI  ML
0    8    26  32  40
1   84    22  86  81
2   49     8  33  45
3    0    17  73  29

**Task 2: Rename the task-1 'df' datframe columns to 'Random value1','Random value2','Random value 3' and Random value4'.**

In [ ]:
df.rename(columns={'DSA':'Random value1','DBMS':'Random value2','AI':'Random value3','ML':'Random value4'},inplace=True)
print(df)

   Random value1  Random value2  Random value3  Random value4
0              8             26             32             40
1             84             22             86             81
2             49              8             33             45
3              0             17             73             29

**Task 3:Find the descriptive statistics of the 'df' dataframe.**

In [ ]:
df.describe()

       Random value1  Random value2  Random value3  Random value4
count       4.000000       4.000000       4.000000        4.00000
mean       35.250000      18.250000      56.000000       48.75000
std        38.947614       7.762087      27.652607       22.51481
min         0.000000       8.000000      32.000000       29.00000
25%         6.000000      14.750000      32.750000       37.25000
50%        28.500000      19.500000      53.000000       42.50000
75%        57.750000      23.000000      76.250000       54.00000
max        84.000000      26.000000      86.000000       81.00000

**Task 4: Check for the null values in 'df' and find the data type of the columns**

In [ ]:
df.isnull().sum()

Random value1    0
Random value2    0
Random value3    0
Random value4    0
dtype: int64

In [ ]:
df.dtypes

Random value1    int64
Random value2    int64
Random value3    int64
Random value4    int64
dtype: object

**Task 5: Display the 'Random value2',Random value3' columns with location method and index location method.**

Using location method

In [ ]:
df.iloc[:, 1]

0    26
1    22
2     8
3    17
Name: Random value2, dtype: int64

In [ ]:
df.iloc[:, 2]

0    32
1    86
2    33
3    73
Name: Random value3, dtype: int64

Using index location method

In [ ]:
df['Random value2']

0    26
1    22
2     8
3    17
Name: Random value2, dtype: int64

In [ ]:
df['Random value3']

0    32
1    86
2    33
3    73
Name: Random value3, dtype: int64